doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")

    title Stout Static Website Deploy Tool by Cloudflare

    meta(name="description" content="Stout is a deploy tool for static websites. It takes a website and uploads it to S3 in a more reliable way than other tools.")
    meta(property="og:title" content="Stout Static Website Deploy Tool by Cloudflare")
    meta(property="og:description" content="Stout is a deploy tool for static websites. It takes a website and uploads it to S3 in a more reliable way than other tools.")
    meta(name="twitter:title" content="Stout Static Website Deploy Tool by Cloudflare")
    meta(name="twitter:description" content="Stout is a deploy tool for static websites. It takes a website and uploads it to S3 in a more reliable way than other tools.")

    link(href="images/favicon.ico" rel="icon" type="image/x-icon")

    link(href="css/index.css" rel="stylesheet")
    script(src="//fast.eager.io/VIkBHY52KYJk.js")

  body
    .hero-stripe
      .hero
        .stout-logo-container
          .stout-logo
            .stout-logo-stage
              .stout-logo-resizer
                .stout-logo-beer
                  .stout-body-bottom
                  .stout-body-bottom-cover
                  .stout-body-bottom-cover-foam
                  .stout-body
                  .stout-body-cover-foam
                  .stout-body-cover-top
                  .stout-body-cover-bottom
                  .head-foam-bottom
                  .head-foam
                  .head-foam-top
                  .head-foam-top-cover

        h1 Stout
        h2 Stout is a deploy tool for static websites. It takes a website and uploads it to S3 in a more reliable way than other tools.

        <p><a href="https://twitter.com/intent/tweet?name=%20&amp;url=http%3A%2F%2Fstout.is&amp;text=Stout%20-%20A%20new%20static%20website%20deploy%20tool.&amp;via=EagerIO" target="_blank" class="more">Share on Twitter</a>&nbsp; &nbsp; &nbsp;<a href="https://github.com/EagerIO/Stout" class="more">Star on GitHub</a></p>


    div.content.
      <h2>What Stout Is</h2>

      <p>Stout is a way of uploading a static website to <a href="http://aws.amazon.com/s3/">S3</a>.  It is capable of configuring <a href="http://aws.amazon.com/cloudfront/">CloudFront</a>
      and <a href="http://aws.amazon.com/route53/">Route 53</a> to allow you to reliably serve static websites in a scalable and maintenance-free way.  It can be an alternative to hosts
      like GoDaddy, to dynamic web servers like Rails, or to manually uploading your site to S3 or an FTP server.</p>

      <h2>Why You Need Stout</h2>

      <p>Traditionally uploading your files to a file host introduces a serious caching issue we ran into in practice at <a href="https://eager.io">Eager</a>.
      Your site depends on a variety of Javascript and CSS files.  The cache for these files is not guaranteed to expire at the same time, meaning for a time,
      some users may end up with new CSS and old Javascript for example, and therefore a broken site.  Most static deploy tools get around this by disabling all
      client-side caching, which provides a far from ideal experience for end-users.
      Further, traditional static site deployments don&#39;t offer any method of rolling back to a previous deploy.</p>

      <p>We built Stout to fix these issues.</p>

      <h3>Features</h3>

      <ul><li>Versions script and style files to ensure your pages don&#39;t use an inconsistent set of files during or after a deploy</li><li>Supports rollback to any previous version</li><li>Does not depend on any specific build tool or workflow (it is a standalone executable written in Go)</li><li>Does not require a datastore of any kind to maintain state or history</li><li>Can be used by multiple developers simultaneously without locking or a danger of inconsistent state</li><li>Properly handles caching headers</li><li>Supports deploying multiple projects to various subdirectories of the same site without conflicts</li><li>Compresses files for faster delivery</li></ul>

      <h3>Limitations</h3>

      <ul><li>Stout doesn&#39;t currently support rolling back files that aren&#39;t HTML, JS or CSS (images, videos, etc.). See the Versioning section for more information.</li><li>All-or-nothing consistency is only guaranteed on a per-html-file basis, not for the entire deploy. See the Consistency section for more information.</li></ul>

      <h2>Getting Started</h2>

      <p><a href="https://github.com/EagerIO/Stout/releases">Download</a> the <code>stout</code> executable for your system from our latest release into a directory on your <code>$PATH</code>, like <code>/usr/local/bin</code>.</p>

      <p>You can use the <code>create</code> command to create a new site. It automatically creates an S3 bucket, a CloudFront distribution, and a restricted user account for deployment.
      If you have a Route 53 zone for the necessary domain, it will also configure a route to this new CloudFront distribution.  It therefore requires
      credentials for an Amazon AWS account which has permissions to those services along with Route 53.</p>

      <pre><code>stout create --bucket my.website.com --key MY_AWS_KEY --secret MY_AWS_SECRET</code></pre>

      <p>You can then deploy your project:</p>

      <pre><code>stout deploy --bucket my.website.com --key MY_AWS_KEY --secret MY_AWS_SECRET</code></pre>

      <p>If your built files are in another directory, add the <code>--root</code> option:</p>

      <pre><code>stout deploy --bucket my.website.com --key MY_AWS_KEY --secret MY_AWS_SECRET --root ./build</code></pre>

      <p>If you don&#39;t want to deploy all the files in your folder, use the files argument.</p>

      <pre><code>stout deploy --bucket my.website.com --key MY_AWS_KEY --secret MY_AWS_SECRET --root ./build --files &quot;*.html,images/*&quot;</code></pre>

      <p>Javascript and CSS included in your HTML files will always be included automatically.</p>

      <p>The deploy command will give you a deploy id you can use in the future to rollback if you have to:</p>

      <pre><code>stout rollback --bucket my.website.com --key MY_AWS_KEY --secret MY_AWS_SECRET a3b8ff290c33</code></pre>

      <p>Eventually you&#39;ll probably want to move your config to a deploy.yaml file, rather than specifying it in the command every time.</p>

      <p>Using the info below you can learn about what the deploy/rollback tools actually do, deploying to subfolders, deploying from your build tool, and rolling back.</p>

      <h2>Using Stout</h2>

      <p>Stout is an executable file built from Go code. The <code>deploy</code> command deploys one or more html files and their dependencies to a specified location in S3. The <code>rollback</code> command takes a deploy id and rolls the project back to that version.</p>

      <h3>Deploy</h3>

      <p>The deploy process works by parsing the script and style tags out of one or more html files. It then hashes those files, uploads them prefixed with their hashes, and updates the location of the original script and link tags with the hashed locations.</p>

      <p>It generates a deploy id by hashing all of the files in the deploy, and uploads the html files to a location prefixed by the deploy id.</p>

      <p>When the uploads are successful, the prefixed html files are atomically copied to their unprefixed paths, completing the deploy.</p>

      <h3>Rollback</h3>

      <p>A rollback simply copies the html files prefixed with the specified deploy id to the unprefixed paths.</p>

      <h3>Deploy Configuration</h3>

      <p>You can configure the deploy tool with any combination of command line flags or arguments provided in a configuration yaml file.</p>

      <p>The options are:</p>

      <h5><code>bucket</code></h5>

      <p>  The S3 bucket to deploy to. In most configurations this bucket should be the origin for the CDN which actually serves your site. It usually makes sense to make this the url you are going to host your site from (i.e. <code>&quot;example.com&quot;</code>)</p>

      <h5><code>config</code> <span style="text-transform: none">(&quot;./deploy.yaml&quot;)</span></h5>

      <p>  The location of a yaml file to read any otherwise unspecified configuration from.</p>

      <h5><code>dest</code> (&quot;./&quot;)</h5>

      <p>  The destination directory to write files to in the S3 bucket. For example if you wanted your this project to end up hosted at <code>yoursite.com/blog</code>, you would specify <code>--dest blog</code>.</p>

      <h5><code>root</code> (&quot;./&quot;)</h5>

      <p>The local directory where the files to be uploaded lives. It&#39;s common to make this your &quot;./build&quot; directory or the like.</p>

      <h5><code>files</code> (&quot;*&quot;)</h5>

      <p>  Comma-seperated glob patterns of the files to be deployed (within the <code>--root</code>). HTML files will be parsed, and the CSS/JS they point to will be included (versioned) automatically. If you also include those files in your glob pattern they will be uploaded twice, once with a versioning hash in the URL, again without.</p>

      <p>  Be sure to include any additional files you would like deployed like images, videos, font files, etc.</p>

      <p>  You can use relative paths which break out of the <code>root</code>. If you prefix the path with <code>-/</code>, it will be interpreted as relative to the project directory, not the <code>root</code>.</p>

      <h5><code>env</code></h5>

      <p>  The config file can contain configurations for multiple environments (production, staging, etc.). This specifies which is used. See the &quot;YAML Config&quot; section for more information.</p>

      <h5><code>key</code></h5>

      <p>  The AWS key to use. The create command will create an IAM user for each project with access only to the relevant bucket. See the Permissions section for more information.</p>

      <h5><code>secret</code></h5>

      <p>  The AWS secret of the provided key.</p>

      <h5><code>region</code> (&quot;us-east-1&quot;)</h5>

      <p>  The AWS region the S3 bucket is located in.</p>

      <h3>YAML Config</h3>

      <p>You can provide a yaml file which specifies configuration defaults for the project being deployed. We include this file in each project which will be deployed. This file can have multiple configurations for different environments, along with a default section.</p>

      <p>For example, the <code>deploy.yaml</code> for one of our projects looks like:</p>

      <pre><code>default:
        root: &#39;build/&#39;

      production:
        key: &#39;XXX&#39;
        secret: &#39;XXX&#39;
        bucket: &#39;eager.io&#39;

      dev:
        key: &#39;XXX&#39;
        secret: &#39;XXX&#39;
        bucket: &#39;next.eager.io&#39;</code></pre>

      <p>Replacing the &quot;XXX&quot;s with our actual credentials.</p>

      <p>To deploy to development we run (from the directory with the deploy.yaml file in it):</p>

      <pre><code>deploy --env development</code></pre>

      <p>A rollback of development would be:</p>

      <pre><code>rollback --env development $DEPLOY_ID</code></pre>

      <p>Where the deploy id is taken from the output of the deploy you wish to rollback to.</p>

      <p>Our public projects use a similar config, but they specify the Amazon credentials as environment vars from the build system, passed in as flags:</p>

      <pre><code>deploy --env development --key $AMAZON_KEY_DEV --secret $AMAZON_SECRET_DEV</code></pre>

      <p>Never commit Amazon credentials to a file in a public repo. Keep them on your local machine, or in your build system&#39;s configuration.</p>

      <h3>Clean URLS</h3>

      <p>It&#39;s not specific to Stout, but it&#39;s worth mentioning that we recommend you structure your built folder to use a folder with an index.html file for each page.</p>

      <p>For example, if you want a root and a page at <code>/blog</code>, you would have:</p>

      <pre><code>index.html
      blog/
        index.html
      </code></pre>

      <p>That way, assuming S3 and CloudFront are configured properly, you&#39;ll be able to use the clean URLs <code>/</code> and <code>/blog/</code>.</p>

      <h3>Deploying with CircleCI</h3>

      <p>Deploying with CircleCI is simply a matter of installing the deploy tool and running it as you would locally. Here&#39;s an excerpt of a working circle.yml:</p>

      <pre><code>dependencies:
        post:
          - go get github.com/tools/godep
          - git clone git@github.com:EagerIO/Stout.git
          - cd Stout; godep go build -o ../stout src/*.go

      deployment:
        development:
          branch: dev
          commands:
            - ./stout deploy --env development --key $AMAZON_KEY_DEV --secret $AMAZON_SECRET_DEV

        production:
          branch: master
          commands:
            - ./stout deploy --env production --key $AMAZON_KEY_PROD --secret $AMAZON_SECRET_PROD</code></pre>

      <p>If you use environment vars for your credentials, make sure to add them to your Circle config.</p>

      <p>If your repo is private, you can specify your Amazon key and secret in your deploy.yaml file, removing the need to specify them in the commands.</p>

      <h3>Caching</h3>

      <p>All versioned files (include a hash of their contents in the path) are configured to cache for one year. All unversioned files are configured to cache for 60 seconds. This means it will take up to 60 seconds for users to see changes made to your site.</p>

      <h3>Versioning</h3>

      <p>Only JS and CSS files which are pointed to in HTML files are hashed, as we need to be able to update the HTML to point to our new, versioned, files.</p>

      <p>Any other file included in your <code>--files</code> argument will be uploaded, but not versioned, meaning a rollback will not effect these files. This is something we&#39;d like to improve.</p>

      <h3>Consistency</h3>

      <p>As the final step of the deploy is atomic, multiple actors can trigger deploys simultaneously without any danger of inconsistent state. Whichever process triggers the final &#39;copy&#39; step for a given file will win, with it&#39;s specified dependencies guaranteed to be used in their entirity. Note that this consistency is only guaranteed on a per-html-file level, you may end up with some html files from one deployer, and others from another, but all files will point to their correct dependencies.</p>

      <h3>Deploying Multiple Projects To One Site</h3>

      <p>You can deploy multiple projects to the same domain simply by specifying the appropriate <code>dest</code> for each one. For example your homepage might have the dest <code>./</code>, and your blog <code>./blog</code>. Your homepage will be hosted at <code>your-site.com</code>, your blog <code>your-site.com/blog</code>.</p>

      <h3>Using Client-side Routers</h3>

      <p>It is possible to use a client-side router (where you have multiple request URLs point to the same HTML file) by configuring your CloudFront distribution to serve your index.html file in response to 403s and 404s.</p>

      <p><img alt="CF" src="https://raw.githubusercontent.com/EagerIO/Stout/master/docs/images/cf-screenshot.png"/></p>

      <p>This is automatically configured by the <code>create</code> command.</p>

      <h3>Installing</h3>

      <ul><li>Download the release for your system type from our <a href="https://github.com/EagerIO/Stout/releases">releases</a></li><li>Copy or symlink the <code>stout</code> binary contained in the archive into your path (for example, into <code>/usr/local/bin</code>)</li></ul>

      <h3>Building</h3>

      <ul><li>Install go and godep</li><li>Run <code>godep restore ./...</code></li><li>Run <code>go build -o ../stout src/*</code></li></ul>

      <h4>For a Release (Cross Compiling)</h4>

      <ul><li>Run <code>go get github.com/laher/goxc</code></li><li>Run <code>go get code.google.com/p/go.tools/cmd/vet</code></li><li>Run <code>./utils/xc.sh</code></li></ul>

      <p>The first run will take significantly longer than future runs. The built files will be placed in the <code>./builds</code> directory.</p>

      <h3>Running</h3>

      <p>To run the commands for development purposes, run: <code>go run src/*</code>, followed by any command line args you would normally give to the command.</p>

      <h3>Contributing</h3>

      <p>Please do, we would love for this to become a project of the community. Feel free to open an issue, submit a PR or contribute to the wiki.</p>

    .footer
      span Made by
      a.logo-link(href="https://developers.cloudflare.com")
        svg(viewBox="70 70 744 257")
          path(d="M790.6 271.9c-3.4 0-6.1-2.7-6.1-6.1 0-3.3 2.7-6.1 6.1-6.1 3.3 0 6.1 2.7 6.1 6.1 0 3.3-2.8 6.1-6.1 6.1m0-11c-2.7 0-4.9 2.2-4.9 4.9s2.2 4.9 4.9 4.9 4.9-2.2 4.9-4.9-2.2-4.9-4.9-4.9m3.1 8.1h-1.4l-1.2-2.3h-1.6v2.3h-1.3v-6.7h3.2c1.4 0 2.3.9 2.3 2.2 0 1-.6 1.7-1.4 2l1.4 2.5zm-2.4-3.5c.5 0 1-.3 1-1 0-.8-.4-1-1-1h-2v2h2zm-636.2-6.4h15.6v42.5h27.1v13.6h-42.7zm58.8 28.2v-.2c0-16.1 13-29.2 30.3-29.2s30.1 12.9 30.1 29v.2c0 16.1-13 29.2-30.3 29.2s-30.1-12.9-30.1-29m44.6 0v-.2c0-8.1-5.8-15.1-14.4-15.1-8.5 0-14.2 6.9-14.2 15v.2c0 8.1 5.8 15.1 14.3 15.1 8.6 0 14.3-6.9 14.3-15m34.9 3.3v-31.5h15.8v31.2c0 8.1 4.1 11.9 10.3 11.9s10.3-3.7 10.3-11.5v-31.6h15.8v31.1c0 18.1-10.3 26-26.3 26-15.9 0-25.9-8-25.9-25.6m76-31.5H391c20 0 31.7 11.5 31.7 27.7v.2c0 16.2-11.8 28.2-32 28.2h-21.3v-56.1zm21.9 42.3c9.3 0 15.5-5.1 15.5-14.2v-.2c0-9-6.2-14.2-15.5-14.2H385v28.5h6.3v.1zm54-42.3h44.9v13.6h-29.4v9.6h26.6v12.9h-26.6v20h-15.5zm66.5 0h15.5v42.5h27.2v13.6h-42.7zm83.3-.4h15l23.9 56.5h-16.7l-4.1-10h-21.6l-4 10h-16.3l23.8-56.5zm13.7 34.4l-6.2-15.9-6.3 15.9h12.5zm45.2-34h26.5c8.6 0 14.5 2.2 18.3 6.1 3.3 3.2 5 7.5 5 13.1v.2c0 8.6-4.6 14.3-11.5 17.2l13.4 19.6h-18l-11.3-17h-6.8v17H654v-56.2zm25.8 26.9c5.3 0 8.3-2.6 8.3-6.6v-.2c0-4.4-3.2-6.6-8.4-6.6h-10.2V286h10.3zm46.4-26.9h45.1v13.2h-29.7v8.5h26.9v12.3h-26.9v8.9h30.1v13.2h-45.5zm-605.1 34.8c-2.2 4.9-6.8 8.4-12.8 8.4-8.5 0-14.3-7.1-14.3-15.1v-.2c0-8.1 5.7-15 14.2-15 6.4 0 11.3 3.9 13.3 9.3h16.4c-2.6-13.4-14.4-23.3-29.6-23.3C91 258 78 271.1 78 287.2v.2c0 16.1 12.8 29 30.1 29 14.8 0 26.4-9.6 29.4-22.4l-16.4-.1z" fill="#fff")
          path(d="M752.9 169.7L710 145.1l-7.4-3.2-175.5 1.2v89.1h225.8z" fill="#fff")
          path(d="M674.8 223.9c2.1-7.2 1.3-13.8-2.2-18.7-3.2-4.5-8.6-7.1-15.1-7.4l-123.1-1.6c-.8 0-1.5-.4-1.9-1s-.5-1.4-.3-2.2c.4-1.2 1.6-2.1 2.9-2.2l124.2-1.6c14.7-.7 30.7-12.6 36.3-27.2l7.1-18.5c.3-.8.4-1.6.2-2.4-8-36.2-40.3-63.2-78.9-63.2-35.6 0-65.8 23-76.6 54.9-7-5.2-15.9-8-25.5-7.1-17.1 1.7-30.8 15.4-32.5 32.5-.4 4.4-.1 8.7.9 12.7-27.9.8-50.2 23.6-50.2 51.7 0 2.5.2 5 .5 7.5.2 1.2 1.2 2.1 2.4 2.1h227.2c1.3 0 2.5-.9 2.9-2.2l1.7-6.1z" fill="#f38020")
          path(d="M714 145c-1.1 0-2.3 0-3.4.1-.8 0-1.5.6-1.8 1.4l-4.8 16.7c-2.1 7.2-1.3 13.8 2.2 18.7 3.2 4.5 8.6 7.1 15.1 7.4l26.2 1.6c.8 0 1.5.4 1.9 1s.5 1.5.3 2.2c-.4 1.2-1.6 2.1-2.9 2.2l-27.3 1.6c-14.8.7-30.7 12.6-36.3 27.2l-2 5.1c-.4 1 .3 2 1.4 2h93.8c1.1 0 2.1-.7 2.4-1.8 1.6-5.8 2.5-11.9 2.5-18.2 0-37-30.2-67.2-67.3-67.2" fill="#faae40")
