@import fonts
@import "font-smoothing"
@import colors

html
  background #fff
  font-size 16px

body
  antialiasedFonts()
  font-family sansSerifFonts

p, pre, dl, menu, ol, ul, hr

  &.roomy
    margin 2em 0
