bodyColor = #333
bodyColorRGBA = rgba(#000, .8)

// Brand colors
cloudFlarePrimaryBrandOrange = #f38020
cloudFlareSecondaryBrandOrange = #faae40
cloudFlarePrimaryBrandGray = #404041

cloudFlareAccentRed = #f16975
cloudFlareAccentOrange = #f69259
cloudFlareAccentYellow = #ffdb6f
cloudFlareAccentGreen = #65cc9a
cloudFlareAccentLightBlue = #76c4e2
cloudFlareAccentPurple1 = #8176b5
cloudFlareAccentPurple2 = #ba77b1
cloudFlareAccentBlue = #408bc9

cloudFlareAccentGray0 = cloudFlarePrimaryBrandGray
cloudFlareAccentGray1 = #4d4d4f
cloudFlareAccentGray2 = #808285
cloudFlareAccentGray3 = #bcbec0

// TODO - remove/refactor
cloudFlareLogoPrimaryOrange = cloudFlarePrimaryBrandOrange
cloudFlarePrimaryOrange = cloudFlarePrimaryBrandOrange
cloudFlarePrimaryOrangeDarkened = darken(cloudFlarePrimaryOrange, 10%)
// End TODO

cloudFlarePrimaryBlue = #2f7bbf

cloudFlareButtonColor = bodyColor
cloudFlareButtonBackgroundColor = #dedede

cloudFlareButtonPrimaryBackgroundColor = cloudFlarePrimaryBlue
cloudFlareButtonPrimaryBorderColor = cloudFlarePrimaryBlueDarkened

cloudFlareButtonGreenBackgroundColor = cloudFlareAccentGreen
cloudFlareButtonGreenBorderColor = #87b331

cloudFlareButtonRedBackgroundColor = #bd2527
cloudFlareButtonRedBorderColor = #9f1f21

cloudFlareLinkBlue = cloudFlarePrimaryBlue
cloudFlareLinkOrange = cloudFlarePrimaryOrange
cloudFlareLinkActive = #112c44

cloudFlareStandardInputBorderColor = #bcbcbc
cloudFlareStandardInputBorderFocusBlue = cloudFlarePrimaryBlue
cloudFlareStandardInputPlaceholderColor = #808080

cloudFlarePageBackgroundGray = #e6e6e6
cloudFlarePageSubtitleGray = #7c7c7c
cloudFlareBlockBorderColor = #dedede

selectionColor = bodyColor
selectionBackgroundColor = rgba(cloudFlarePrimaryOrange, .2)

subtleOrange = lighten(cloudFlarePrimaryOrange, 88%)

backgroundGray = #eee
gray = #e0e0e0
darkGray = #707070
darkerGray = #404040
darkestGray = #202020
darkerestGray = #131313
lightGray = #f3f3f3
cloudFlareControlBackgroundGray = #f1f1f1
lightGrayRGBA = rgba(#000, .045)
lighterGray = #fafafa
lightLineGray = #cacaca
lightLineGrayRGBA = rgba(#000, .21)
lighterLineGray = gray
lighterLineGrayRGBA = rgba(#000, .125)
subtleText = #888

successBackgroundColor = saturate(lighten(cloudFlareAccentGreen, 55%), 30%)
successColor = desaturate(darken(cloudFlareAccentGreen, 55%), 30%)

infoBackgroundColor = #ddedff
infoColor = #303786

warnBackgroundColor = cloudFlareAccentYellow
warnColor = darken(cloudFlareAccentYellow, 80%)

errorBackgroundColor = saturate(lighten(cloudFlareAccentRed, 50%), 30%)
errorColor = darken(cloudFlareAccentRed, 70%)

hintBackgroundColor = cloudFlareAccentYellow
hintColor = darken(cloudFlareAccentYellow, 80%)

errorRed = darken(cloudFlareAccentRed, 30%)

primaryButtonColor = cloudFlareButtonPrimaryBackgroundColor
primaryButtonColorDarkened = cloudFlareButtonPrimaryBorderColor

secondaryButtonColor = cloudFlarePrimaryBlue

tertiaryButtonColor = cloudFlareAccentGray2

creditCardBackgroundColor = #d4d2d8
creditCardBackgroundColorLight = lighten(creditCardBackgroundColor, 50%)
creditCardSubtleText = #696676
creditCardLighterLineGray = #b6afb2
creditCardLightLineGray = #9c97ae
creditCardPrimaryButtonColor = #584c6f

blogTextColor = #333332

// Third party colors

facebookBlue = #3b5998
linkedInBlue = #0077b5
twitterBlue = #55acee
